<div class="draggable large-3 small-6 columns">
  <div class="panel">
    <%= image_tag recipe.image_url %>
    <a href="#" class="tiny button">Get Now!</a>
    <a href="#" class="tiny button">Add to Queue</a>
  </div>
</div>
