<table class='ingredients'>
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Ingredient</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'ingredients/ingredient', collection: recipe.ingredients %>
  </tbody>
</table>

