<table class='ingredients'>
  <thead>
    <th>Quantity</th>
    <th>Ingredient</th>
  </thead>
  <tbody>
    <%= render partial: 'ingredients/ingredient', collection: recipe.ingredients %>
  </tbody>
</table>

