<h3 class="index-title"> Featured Recipes </h3>

<div class="row">

    <% @recipes.each do |recipe| %>
      <div class="draggable large-3 small-6 columns">
        <div class="panel">
          <%= image_tag recipe.image_url %>
          <a href="#" class="tiny button">Get Now!</a>
          <a href="#" class="tiny button">Add to Queue</a>
        </div>
      </div>
    <% end %>


</div>

<hr>
<h3 class="index-title"> Your Queue </h3>

<div class="queue row">
  <div class="large-12 show-for-small columns"></div>

  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Add to Basket</a>
    </div>
  </div>

  <div class="large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Add to Basket</a>
    </div>
  </div>

  <div id="empty" class="large-3 small-6 columns">

  </div>

  <div id="empty" class="large-3 small-6 columns">

  </div>


</div>
