<h3 class="index-title"> Featured Recipes </h3>

<div class="row">
  <div class="available-recipe recipe large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=1 Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Get Now!</a>
      <a href="#" class="tiny button queue-it">Add to Queue</a>
    </div>
  </div>

  <div class="available-recipe recipe large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=2 Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Get Now!</a>
      <a href="#" class="tiny button queue-it">Add to Queue</a>
    </div>
  </div>

  <div class="available-recipe recipe large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=3 Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Get Now!</a>
      <a href="#" class="tiny button queue-it">Add to Queue</a>
    </div>
  </div>

  <div class="available-recipe recipe large-3 small-6 columns">
    <img src="http://placehold.it/500x500&text=4 Food Porn">
    <div class="panel">
      <a href="#" class="tiny button">Get Now!</a>
      <a href="#" class="tiny button queue-it">Add to Queue</a>
    </div>
  </div>
</div>

<hr>

<div class="row">
<div class="large-12">
  <h3 class="index-title"> Your Queue </h3>
</div>
<div class="large-12 queue">

</div>
