<div class="row">
  <h3 class="index-title"> Featured Recipes </h3>
    <% @recipes.each do |recipe| %>
      <div class="available-recipe recipe large-3 small-6 columns">
        <div class="panel">
          <%= image_tag recipe.image_url %>
          <a href="#" class="tiny button">Get Now!</a>
          <a href="#" class="tiny button queue-it">Add to Queue</a>
        </div>
      </div>
    <% end %>
</div>

<hr>

<div class="row">
<div class="large-12">
  <h3 class="index-title"> Your Queue </h3>
</div>
<div class="large-12 queue">

</div>
