<div class="grocery-list-show-page">
  <h1 class="grocery-list-header">Shopping Made Simple</h1>
    <p class="grocery-list-header">Never Forget a Grocery with Lists by Grocer Please!</p>

  <textarea class="final-grocery-list">
        <%= "Your Current Grocery List" %>
<%= @order.to_s %>
  </textarea>
</div>