#favorites-link, #basket-link {
  position: relative;
}

.checkout-button {
  float: right;
}

.recipe-partial {
  clear: both;
}

#checkout-modal {
  background: image-url('notebook.png');
}


#whole-layout {
  margin-top: 20px;
  background: image-url('retina_wood.png');
}

#grocer-logo img {
  width: 40px;
  margin-bottom: 10px;
}

#grocer-logo a {
  color: #FFE59A;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
  font-family: 'Pacifico', cursive;
  font-size: 150%;
}

.panel {
  height: 300px;
  width: 240px;
}

.imgLiquid {
  width: 200px;
  height:240px; 
}
.panel .button {
  margin-top: 8px;
}

#new_recipe {
  width: 70%;
  padding-left: 20%;
}

#new-recipe-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#ingredient_required_amount {
  width: 50px;
  display: inline;
  border-radius: 5px;
  height: 29px;
}

.select2-container {
  padding-bottom: 3px;
}

.nav-bar-coloring,
.top-bar-section ul li > a,
.top-bar-section .dropdown li.title h5 a,
.top-bar-section ul {
  background-color: #F37A34;
}


footer {
  text-align: center;
}

.nice .quantity-field {
  width: 48px;
  display: inline;
}

.total-display {
  display: inline;
}
