#favorites-link, #basket-link {
  position: relative;
}

#whole-layout {
  margin-top: 20px;
  background: url('retina_wood_@2X.png');
}

.quantity {
  text-align: center;
}

.total {
  font-weight: bold;
}

