#favorites-link, #basket-link {
  position: relative;
}

.checkout-button {
  float: right;
}

.recipe-partial {
  clear: both;
}

#checkout-modal {
  background: url('notebook_@2X.png');
}

.grocery-list {
}

#whole-layout {
  margin-top: 20px;
  background: url('retina_wood_@2X.png');
}

.quantity {
  text-align: center;
}

.total {
  font-weight: bold;
}

#grocer-logo a {
  width: 153px;
}


