.controls
  .add-to-favorites-controls
    display: inline
  .remove-from-favorites-controls
    display: none
  .add-to-basket-controls
    display: inline
  .manage-basket-controls
    display: none

.favorite-recipe .controls
  .add-to-favorites-controls
    display: none
  .remove-from-favorites-controls
    display: inline

.basketed-recipe .controls
  .add-to-basket-controls
    display: none
  .manage-basket-controls
    display: inline
