<li><%= link_to ' Sign In', new_user_session_path, class: "icon-signin" %></li>

<li class="divider hide-for-small"></li>

<li><%= link_to ' Sign Up', new_user_registration_path, class: "icon-user" %></li>

