<div class="fixed">
  <nav class="top-bar">

    <ul class="title-area">
      <li class="name" id="grocer-logo">
        <h1><%= link_to image_tag('nav_bar_logo.png'), root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><%= link_to 'Menu', '#' %></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-form">
          <form>
            <div class="row collapse">
              <div class="small-8 columns">
                <input type="text">
              </div>
              <div class="small-4 columns">
                <a href="#" class="button">Search</a>
              </div>
            </div>
          </form>
        </li>

        <li class="divider"></li>

        <% if user_signed_in? %>
          <%= render partial: 'layouts/top_nav_signed_in' %>
        <% else %>
          <%= render partial: 'layouts/top_nav_signed_out' %>
        <% end %>

      </ul>
    </section>
  </nav>
</div>
