<li class="active" id="basket-link"><%= link_to 'Basket', basket_path %></li>
<li class="divider"></li>
<li class="active" id="favorites-link"><%= link_to "Favorites", favorite_recipes_path %></li>

<li class="divider hide-for-small"></li>

<li class="has-dropdown"><a href="#">Account</a>
<ul class="dropdown">
  <li><a href="#">Settings</a></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
</ul>

